.menu {
    height: calc(100% - var(--header-height));
    overflow: auto;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 1px solid var(--color-border);

    & + .menu-item {
        border-top: none;
    }

    button {
        display: block;
        align-items: center;
        background: none;
        border: none;
        padding: .5rem;
        text-align: left;
        transition: all .2s ease;
        font-size: 0;
        color: rgba(0, 0, 0, .6);

        .expanded & {
            font-size: 1rem;
        }

        &::before {
            content: attr(data-method);
            display: block;
            font-size: 1rem;
            color: #000;
        }
        
        &:hover {
            background: rgba(0,0,0,.1);
        }

        &.active {
            background: var(--color-highlight);
        }

        &:nth-child(2) {
            margin-left: auto;
        }

        .icon {
            font-size: 18px;
            display: block;
            margin-left: auto;
        }
    }
}