.panels {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    height: 100%;
    overflow: hidden;

    > div:nth-child(1) {
        display: grid;
        grid-template-rows: auto auto 1fr;
        height: 100%;
        overflow: hidden;

        .has-error & {
            grid-template-rows: auto auto 1fr 25vh;
        }
    }

    > div:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr;
    }
}