
:root {
    --color-light: #fff; 
    --color-medium: #bdd3cc; 
    --color-dark: #0f282f; 
    --color-error: #9a1e1e;
    --color-highlight: #00d37f;
    --color-button-hover: #01be72;
    --color-border: #91aaa2;

    --sidebar-width: 260px
}